In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
dict1 = {'Name':['Jang','Belle','Brent','Jambo','EV','WallE'],'Score':[99,98,75,60,45,56],'Gender':['Female','Female','Male','Female','Female','Male']}
df1 = pd.DataFrame(dict1)
df1

    Name  Score  Gender
0   Jang     99  Female
1  Belle     98  Female
2  Brent     75    Male
3  Jambo     60  Female
4     EV     45  Female
5  WallE     56    Male

In [3]:
## display top3 row
df1.head(3)

    Name  Score  Gender
0   Jang     99  Female
1  Belle     98  Female
2  Brent     75    Male

In [4]:
df1.tail(3)

    Name  Score  Gender
3  Jambo     60  Female
4     EV     45  Female
5  WallE     56    Male

In [5]:
# HOw many row and column
df1.shape

(6, 3)

In [6]:
print('Number of row',df1.shape[0])
print('Number of column',df1.shape[1])

Number of row 6
Number of column 3

In [7]:
# information : row,column,data type,memory requirement
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Score   6 non-null      int64
 2   Gender  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

object  =  string

In [8]:
df1.isnull()

    Name  Score  Gender
0  False  False   False
1  False  False   False
2  False  False   False
3  False  False   False
4  False  False   False
5  False  False   False

no missing value!!

In [9]:
df1.isnull().sum(axis=1)

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

showing how many null,for row by row

In [10]:
# show statistics info for this dataset
df1.describe()  # shown only score column

           Score
count   6.000000
mean   72.166667
std    22.551423
min    45.000000
25%    57.000000
50%    67.500000
75%    92.250000
max    99.000000

In [11]:
## I want to see all stat details from all column
df1.describe(include = 'all')

        Name      Score  Gender
count      6   6.000000       6
unique     6        NaN       2
top     Jang        NaN  Female
freq       1        NaN       4
mean     NaN  72.166667     NaN
std      NaN  22.551423     NaN
min      NaN  45.000000     NaN
25%      NaN  57.000000     NaN
50%      NaN  67.500000     NaN
75%      NaN  92.250000     NaN
max      NaN  99.000000     NaN

In [12]:
## unique value from gender column

df1['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [13]:
df1['Gender'].nunique()

# number of unique value : M,F

2

In [14]:
# count  of unique value : how many for male , for female
df1['Gender'].value_counts()

Female    4
Male      2
Name: Gender, dtype: int64

In [15]:
df1['Score']>= 90


# boolean : T,F and parse to dataframe, use df1[]

0     True
1     True
2    False
3    False
4    False
5    False
Name: Score, dtype: bool

In [16]:
## count number of student who have score>=90
df1[df1['Score']>= 90]

    Name  Score  Gender
0   Jang     99  Female
1  Belle     98  Female

In [17]:
## or ****

(df1['Score']>=90) & (df1['Score'] <= 100)

0     True
1     True
2    False
3    False
4    False
5    False
Name: Score, dtype: bool

In [18]:

df1[(df1['Score']>=90) & (df1['Score'] <= 100)]

    Name  Score  Gender
0   Jang     99  Female
1  Belle     98  Female

Total number of student have score >= 90

In [19]:
df1[df1['Score']>= 90].count()

# score >=90 : 2 students // count function

Name      2
Score     2
Gender    2
dtype: int64

In [20]:
# or ****

len(df1[(df1['Score']>=90) & (df1['Score'] <= 100)]) ## len function

2

In [21]:
## between method and then sum of True value

df1['Score'].between(90,100)

0     True
1     True
2    False
3    False
4    False
5    False
Name: Score, dtype: bool

In [22]:
sum(df1['Score'].between(90,100))

2

In [23]:
# Average score

df1['Score'].mean()

72.16666666666667

.mean() , .min(), .max()

# Apply method

In [24]:
def Score(x):
    return x/2

In [25]:
df1['Score'].apply(Score)

0    49.5
1    49.0
2    37.5
3    30.0
4    22.5
5    28.0
Name: Score, dtype: float64

## after set new calculation and then add new column to dataframe

In [26]:
df1['Half_Score'] = df1['Score'].apply(Score)

In [27]:
df1

## float number

    Name  Score  Gender  Half_Score
0   Jang     99  Female        49.5
1  Belle     98  Female        49.0
2  Brent     75    Male        37.5
3  Jambo     60  Female        30.0
4     EV     45  Female        22.5
5  WallE     56    Male        28.0

In [28]:
def Score(x):
    return x//2
df1['Half_Score'] = df1['Score'].apply(Score)
df1

## for round number

    Name  Score  Gender  Half_Score
0   Jang     99  Female          49
1  Belle     98  Female          49
2  Brent     75    Male          37
3  Jambo     60  Female          30
4     EV     45  Female          22
5  WallE     56    Male          28

In [29]:
## apply method and lambda for one line code


df1['Score'].apply(lambda x:x/2)

0    49.5
1    49.0
2    37.5
3    30.0
4    22.5
5    28.0
Name: Score, dtype: float64

In [30]:
## apply method on particular column

df1['Name'].apply(len)

## apply 'len'function to Name column

0    4
1    5
2    5
3    5
4    2
5    5
Name: Name, dtype: int64

## Map function

male : 1
female : 0

In [31]:
df1['Gender'].map({'Male':1, 'Female':0 })

0    0
1    0
2    1
3    0
4    0
5    1
Name: Gender, dtype: int64

In [32]:
df1['Male1_Female0'] = df1['Gender'].map({'Male':1, 'Female':0 })

In [33]:
df1

    Name  Score  Gender  Half_Score  Male1_Female0
0   Jang     99  Female          49              0
1  Belle     98  Female          49              0
2  Brent     75    Male          37              1
3  Jambo     60  Female          30              0
4     EV     45  Female          22              0
5  WallE     56    Male          28              1

## Drop single or multiple column

In [34]:
df1.drop('Male1_Female0',axis=1)

    Name  Score  Gender  Half_Score
0   Jang     99  Female          49
1  Belle     98  Female          49
2  Brent     75    Male          37
3  Jambo     60  Female          30
4     EV     45  Female          22
5  WallE     56    Male          28

In [35]:
### drop multiple column : need [] ***

df1.drop(['Male1_Female0','Half_Score'],axis=1)

    Name  Score  Gender
0   Jang     99  Female
1  Belle     98  Female
2  Brent     75    Male
3  Jambo     60  Female
4     EV     45  Female
5  WallE     56    Male

In [36]:
def Score(x):
    return x//2
df1['Half_Score'] = df1['Score'].apply(Score)

df1['Male1_Female0'] = df1['Gender'].map({'Male':1, 'Female':0 })
df1

    Name  Score  Gender  Half_Score  Male1_Female0
0   Jang     99  Female          49              0
1  Belle     98  Female          49              0
2  Brent     75    Male          37              1
3  Jambo     60  Female          30              0
4     EV     45  Female          22              0
5  WallE     56    Male          28              1

In [37]:
## inplace = True for permanent change


def Score(x):
    return x//2
df1['Half_Score'] = df1['Score'].apply(Score)

df1['Male1_Female0'] = df1['Gender'].map({'Male':1, 'Female':0 })


df1.drop(['Male1_Female0','Half_Score'],axis=1, inplace = True)

In [38]:
df1

    Name  Score  Gender
0   Jang     99  Female
1  Belle     98  Female
2  Brent     75    Male
3  Jambo     60  Female
4     EV     45  Female
5  WallE     56    Male

## all coumn names

In [39]:
df1.columns

Index(['Name', 'Score', 'Gender'], dtype='object')

In [40]:
df1.index

# start at index 0 and total 6 indexes(row), and step up 1 step at the time

RangeIndex(start=0, stop=6, step=1)

## Sort

shift+tab for more documentation

In [41]:
df1.sort_values(by = 'Score')

    Name  Score  Gender
4     EV     45  Female
5  WallE     56    Male
3  Jambo     60  Female
2  Brent     75    Male
1  Belle     98  Female
0   Jang     99  Female

In [42]:
df1.sort_values(by = 'Score', ascending = False)

    Name  Score  Gender
0   Jang     99  Female
1  Belle     98  Female
2  Brent     75    Male
3  Jambo     60  Female
5  WallE     56    Male
4     EV     45  Female

In [43]:
### sort mmultiple column : need []***

df1.sort_values(by = ['Score', 'Name'], ascending = False)

## sort Score first then Name

    Name  Score  Gender
0   Jang     99  Female
1  Belle     98  Female
2  Brent     75    Male
3  Jambo     60  Female
5  WallE     56    Male
4     EV     45  Female

In [44]:
## Show only female data

df1[df1['Gender'] == 'Female']

    Name  Score  Gender
0   Jang     99  Female
1  Belle     98  Female
3  Jambo     60  Female
4     EV     45  Female

In [45]:
df1[df1['Gender'] == 'Female']['Name']

#female and only name column

0     Jang
1    Belle
3    Jambo
4       EV
Name: Name, dtype: object

In [46]:
## Show only female data , and only name and score

df1[df1['Gender'] == 'Female'][['Name','Score']]

    Name  Score
0   Jang     99
1  Belle     98
3  Jambo     60
4     EV     45

In [47]:
## isin function

df1[df1['Gender'].isin(['Female'])]

    Name  Score  Gender
0   Jang     99  Female
1  Belle     98  Female
3  Jambo     60  Female
4     EV     45  Female

In [48]:
df1[df1['Gender'].isin(['Female'])][['Name','Score']]

    Name  Score
0   Jang     99
1  Belle     98
3  Jambo     60
4     EV     45