<a href="https://www.kaggle.com/beelaboo/nfl-standings?scriptVersionId=83678683" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import lxml
import re

In [ ]:
#Imports the HTML into python
url = 'https://www.nfl.com/standings/league/2021/REG'
page = requests.get(url)
page

In [ ]:

soup = BeautifulSoup(page.text, 'lxml')

In [ ]:
soup

In [ ]:
table = soup.find('table', {'summary':'Standings - Detailed View'})
table

In [ ]:
# previously , I got whole table , then find header
table.find_all('th')

# th tags are all in the first row - header in html script

In [ ]:
headers =[]
for i in table.find_all('th'):
    title = i.text.strip()
    headers.append(title)

In [ ]:
headers

In [ ]:
df = pd.DataFrame(columns = headers)

In [ ]:
df

#grab data to put in each headers

# want each data in text format : data inside all in td tag
# and will create for loop : get list of all data row by row

In [196]:
table.find_all('tr')
for row in table.find_all('tr')[1:-1]: 
    
            
    #don'want first row (column name), looping row by row
    data = row.find_all('td')
    
    #data in each row, get all td
    data_row = [td.text.strip() for td in data]    # list of td

In [197]:
data_row

['Tampa Bay Buccaneers\n            xz\n\n\n            Buccaneers\n            xz',
 '11',
 '4',
 '0',
 '0.733',
 '442',
 '312',
 '130',
 '6 - 1 - 0',
 '5 - 3 - 0',
 '3 - 2 - 0',
 '0.600',
 '7 - 4 - 0',
 '0.636',
 '4 - 0 - 0',
 '1W',
 '4 - 1 - 0']

In [198]:
import pandas as pd

df = pd.DataFrame(columns=headers)

df.loc[len(df)] = data_row

In [199]:
data_row

['Tampa Bay Buccaneers\n            xz\n\n\n            Buccaneers\n            xz',
 '11',
 '4',
 '0',
 '0.733',
 '442',
 '312',
 '130',
 '6 - 1 - 0',
 '5 - 3 - 0',
 '3 - 2 - 0',
 '0.600',
 '7 - 4 - 0',
 '0.636',
 '4 - 0 - 0',
 '1W',
 '4 - 1 - 0']

In [200]:
df.to_csv("NFL_stand.csv")

In [201]:
pd.read_csv("NFL_stand.csv")

,Unnamed: 0,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5
0,0,Tampa Bay Buccaneers\n xz\n\n\n ...,11,4,0,0.733,442,312,130,6 - 1 - 0,5 - 3 - 0,3 - 2 - 0,0.6,7 - 4 - 0,0.636,4 - 0 - 0,1W,4 - 1 - 0